/*==Payment Tabs==*/
.dnt_custom_buttons h3 {
	display: block;
	padding: 5px;
}
.dnt_output_block {
	background-color: #E6E6E6;
	border: 1px solid #DDDDDD;
	border-radius: 10px;
	max-width: 280px;
	padding: 10px;
	text-align: center;
	margin: 15px 15px 0;
	float: left;
}
.dnt_form-table {
	max-width: 600px;
	float: left;
}
.rtl .dnt_output_block,
.rtl .dnt_form-table {
	float: right;
}
.dnt_inside_block {
	border-top: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
}
.dnt_inside_block:first-of-type {
	border: none;
}
.dnt_img_box {
	padding-top: 5px;
}
/*===Widget settings===*/

.dnt_tabs-panel-paypal label,
.dnt_tabs-panel-co label {
	padding: 4px 12px;
	display: block;
}
.dnt_widget {
	position: relative;
	z-index: 100;
	width: 260px;
}
.dnt_widget_title {
	width: 100%;
}
.dnt_donate_button > img {
	z-index: 1000;
}
.dnt_donate_button {
	position: relative;
	margin-bottom: 10px;
	z-index: 100;
}
.dnt_donate_button:hover {
	cursor: pointer;
}
.post .dnt_donate_button .dnt_options_box {
	left: 0;
}
.dnt_settings_donate .dnt_tabs-panel label {
	margin-top: 4px;
}
.dnt_tabs-panel-co,
.dnt_tabs-panel-paypal {
	border: 1px solid #DFDFDF;
	padding: 5px 0;
	background-color: #F7F7F7;
}
.dnt_settings_donate .category-tabs .tabs {
	background-color: #F7F7F7;
	border-bottom-color: #F7F7F7;
}
.dnt_settings_donate input[type='text'] {
	margin-top: 1px;
	margin-bottom: 9px;
}
.category-tabs > input,
.dnt_tabs-panel-paypal > input,
.dnt_tabs-panel-co > input {
	margin-top: -4px;
}
.category-tabs li:hover {
	cursor: pointer;
}
.dnt_widget ul {
	list-style-type: none;
	margin: 0;
	padding: 18px;
}
#widget-donate_widget_id-4-dnt_widget_donate {
	margin-top: 5px;
}
#widget-donate_widget_id-4-dnt_widget_donate + label {
	padding: 0;
	padding-top: 6px;
}

.widget_donate_widget li {
	list-style: none;
}
.dnt_hidden {
	display: none;
}