/*==Payment Tabs==*/
.dnt-output-block {
	background-color: #E6E6E6;
	border: 1px solid #DDDDDD;
	border-radius: 10px;
	max-width: 280px;
	padding: 10px;
	text-align: center;
	margin: 15px 15px 0;
	float: left;
}
.dnt-form-table {
	max-width: 600px;
	float: left;
}
.rtl .dnt-output-block,
.rtl .dnt-form-table {
	float: right;
}
.dnt-inside-block {
	border-top: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
}
.dnt-inside-block:first-of-type {
	border: none;
}
.dnt-img-box {
	padding-top: 5px;
}
/*===Widget settings===*/
.dnt-tabs-panel-paypal label,
.dnt-tabs-panel-co label {
	padding: 4px 12px;
	display: block;
}
.dnt-widget {
	position: relative;
	z-index: 100;
	width: 260px;
}
.dnt-widget-title {
	width: 100%;
}
.dnt-button > img {
	z-index: 1000;
}
.dnt-button {
	position: relative;
	margin-bottom: 10px;
	z-index: 100;
	text-align: center;
}
.dnt-button:hover {
	cursor: pointer;
}
.post .dnt-button .dnt-box {
	left: 0;
}
.dnt-settings-donate .dnt-tabs-panel label {
	margin-top: 4px;
}
.dnt-tabs-panel-co,
.dnt-tabs-panel-paypal {
	border: 1px solid #DFDFDF;
	padding: 5px 0;
	background-color: #F7F7F7;
}
.dnt-settings-donate .category-tabs .tabs {
	background-color: #F7F7F7;
	border-bottom-color: #F7F7F7;
}
.dnt-settings-donate input[type='text'] {
	margin-top: 1px;
	margin-bottom: 9px;
}
.category-tabs > input,
.dnt-tabs-panel-paypal > input,
.dnt-tabs-panel-co > input {
	margin-top: -4px;
}
.category-tabs li:hover {
	cursor: pointer;
}
.dnt-widget ul {
	list-style-type: none;
	margin: 0;
	padding: 18px;
}
#widget-donate_widget_id-4-dnt_widget_donate {
	margin-top: 5px;
}
#widget-donate_widget_id-4-dnt_widget_donate + label {
	padding: 0;
	padding-top: 6px;
}
.dnt-widdget-list li {
	list-style: none;
}
.dnt-co-button,
.dnt-paypal-button {
	vertical-align: middle;
	display: block;
	margin: 10px auto;
}
@media only screen and ( max-width: 782px ) {
	.dnt-form-table input[type=file]{
		width: 100%;
	}
}